@import "variables";

/*Estilos para la pagina contacto*/

.formulario input:focus{
    background-color: lightgray;
}

.formulario textarea:focus{
    background-color: lightgray;
}

@media only screen and (max-width:767px){

    .mainContacto{
        margin-left: 15px;
        margin-right: 15px;
    }


}
