@import "variables";

/*Estilos para la pagina nosotros*/

.nosotros .row{
    line-height: 2;
    
    margin-bottom: 25px;
}

.nosotros ul{
    list-style-image: url("../media/marcador-de-posicion.png");
}

.nosotros h1{
    text-align: center;
    font-style: oblique;
    text-decoration: underline;
}


.nosotros img{
    width: 100%;
    
}

.bloqueTexto{
    background-color: $colorProductos;
    padding-bottom: 0%;
    box-shadow: 2px 2px 5px black;
    margin: 1%;
}

.bloqueImagen{
    padding: 0%;
    
}

@media only screen and (max-width:767px){
    .nosotros p{
        font-size: 2.5vw;
    }
    
    .nosotros ul li{
        font-size: 2.5vw;
    }
}

@media only screen and (min-width:768px){

    .nosotros h1{
        margin-top: 4%;
    }

    .nosotros p{
        font-size: 2.25vw;
    }

    .nosotros ul li{
        font-size: 2.25vw;
    }
}
