@import "variables";

/*Estilos para la pagina de novedades*/


.listaNovedades div{
    background-color: $colorProductos;
    /*box-shadow: 2px 2px 5px black;*/
    width: 100%
}


/*Estilos para la pantalla de un celular*/
@media only screen and (max-width:759px){

    /*Estilos pagina de novedades*/

    .listaNovedades{
        display: grid;
        grid-template-columns: 60%;
        grid-column-gap: 10px;
        grid-row-gap: 10px;
        justify-content: center;
    }

}

/*Estilos para la pantalla de una tablet*/

@media only screen and (min-width:760px) and (max-width:1023px){

    /*Estilos pagina de novedades*/

    .listaNovedades{
        display: grid;
        grid-template-columns: 35% 35%;
        grid-column-gap: 5%;
        grid-row-gap: 10px;
        justify-content: center;
    }
    
}

/*Estilos para la pantalla de una Desktop*/

@media only screen and (min-width:1024px){
    

    /*Estilos pagina de novedades*/

    .listaNovedades{
        display: grid;
        grid-template-columns: 20% 20% 20% 20%;
        grid-column-gap: 5%;
        grid-row-gap: 10px;
    }

    .imagenNovedades{
        width: 100%;
    }

}