@import "variables";

/*Estilos de la pagina de productos*/

.mainDeProductos{
    background-color: $colorSecundario;
    section{
        margin-top: 10px;
        border-top: $colorSecundario 2px groove;   
        div article{
            background-color: $colorProductos;
            margin-right: 20px;
            margin-left: 20px;
            margin-bottom: 10px;
            box-shadow: 2px 2px 5px black;
            transition: all 1s;          
        }    
    }
    
}


.mainDeProductos section div article:hover{
    transform: scale(1.05,1.05);
}


/*Estilos para la pantalla de un celular*/
@media only screen and (max-width:767px){

    /*Estilos de la pagina de productos*/

    .mainDeProductos section div{
            
            display: grid;
            grid-template-columns: 50% 50%;
            justify-content: center;

             
        }
        .imagenProducto{
            width: 100%;
        }

}

/*Estilos para la pantalla de una tablet*/

@media only screen and (min-width:768px) and (max-width:1023px){
    .mainDeProductos section div{
            
        display: flex;
        flex-direction: row;

        article{
            width: 15%;
        }
         
    }

    .imagenProducto{
        width: 100%;
    }
}

/*Estilos para la pantalla de una Desktop*/

@media only screen and (min-width:1024px){
    .mainDeProductos section div{
            
        display: flex;
        flex-direction: row;
        

        article{
            width: 15%;
        }
         
    }

    .imagenProducto{
        width: 100%;
    }

}