@import "variables";

/*Estilos de seccion de productos del index*/


.seccionProductos{
    margin-top: 30px;
    div {
        border-top: $colorSecundario 2px groove; 
        padding-top: 1%;
        article{
            p{
                text-transform: uppercase;
                text-align: center;
                margin-top: 5%;
            }
            .imagen{
                box-shadow: 2px 2px 5px black;
            }
        display: grid;
        justify-items: center;
        transition: all 1s;
        margin-bottom: 10px;
        }
    }
}


.seccionProductos div article:hover{
    transform: scale(0.97,0.97);
    
}

.seccionProductos div article:active{
    transform: scale(0.97,0.97);
    
}

.juegoDeTronos{
    grid-area: imagen1;
}

.harryPotter{
    grid-area: imagen2;
}
.agatha{
    grid-area: imagen3;
}
.sherlockHolmes{
    grid-area: imagen4;
}
.juegosDelHambre{
    grid-area: imagen5;
}
.borges{
    grid-area: imagen6;
}

/*Estilos para pantalla de celular*/

@media only screen and (max-width:767px){

    .imagen{
        width: 80px;
        height: 130px;
    }

    /*Estilos de seccion de productos del index*/

    .seccionProductos div{
        display: grid;
        grid-template-areas: 
        'imagen1 imagen2'
        'imagen3 imagen4'
        'imagen5 imagen6';
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        grid-column-gap: 10px;
        grid-row-gap: 10px;
        justify-items: center;
    
    }

}

/*Estilos para la pantalla de una tablet*/

@media only screen and (min-width:768px) and (max-width:1023px){


    /*Estilos de seccion de productos del index*/

    .seccionProductos div{
        display: grid;
        grid-template-areas: 
        'imagen1 imagen2 imagen3'
        'imagen4 imagen5 imagen6';
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        grid-column-gap: 10px;
        grid-row-gap: 10px;
        justify-items: center;
    }

    .imagen{
        width: 180px;
        height: 280px;
    }

    
}

/*Estilos para la pantalla de una Desktop*/

@media only screen and (min-width:1024px){
    /*Estilos de seccion de productos del index*/

    .seccionProductos div{
        display: grid;
        grid-template-areas: 
        'imagen1 imagen2 imagen3' 
        'imagen4 imagen5 imagen6';
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        grid-column-gap: 20px;
        grid-row-gap: 20px;
        justify-items: center;
    }

    .imagen{
        width: 180px;
        height: 280px;
    }

}