@import "variables";



body {
    background-color: $colorPrincipal;
    font-family: Arial, Helvetica, sans-serif;
}

.navbar{
    background-color: $colorSecundario;
    box-shadow: 0px 5px 5px -5px black;
}

.logo{
    width: 130px;
} 

  
/*--------------------------------------------*/
/*Estilos del main*/


.carrusel img{
    filter: brightness(0.5);
}

/*Estilos para la pantalla de un celular*/
@media only screen and (max-width:767px){

    body {
        font-size: 12px;
    }
    
    /*Aca va el menu desplegable*/

    .imagen{
        width: 80px;
        height: 130px;
    }

    main{
        margin: 2%;
    }


}

/*Estilos para la pantalla de una tablet*/

@media only screen and (min-width:768px) and (max-width:1023px){

    body {
        font-size: 15px;
    }


    .imagen{
        width: 180px;
        height: 280px;
    }

    main{
        margin-top: 1%;
        margin-left: 10px;
        margin-right: 10px;
    }
    
}

/*Estilos para la pantalla de una Desktop*/

@media only screen and (min-width:1024px){
    body {
        
        font-size: 15px;
    }

    .imagen{
        width: 180px;
        height: 280px;
    }

    main{
        margin-top: 1%;
        margin-left: 50px;
        margin-right: 50px;
    }

}

@import "footerEstilos";

@import "novedadesIndex";

@import "productosIndex";

@import "productosPagina";

@import "novedadesPagina";

@import "nosotrosPagina";

@import "contactoPagina";
