@import "variables";



body {
    background-color: $colorPrincipal;
    font-family: 'Merriweather', serif;
}

.navbar{
    background-color: $colorSecundario;
    box-shadow: 0px 5px 5px -5px black;
}

.logo{
    width: 130px;
} 

.mainPrincipal h1{
    text-align: center;
    font-style: oblique;
    text-decoration: underline;
}
  
/*--------------------------------------------*/
/*Estilos del main*/


.carrusel img{
    filter: brightness(0.5);
}

/*Estilos para la pantalla de un celular*/
@media only screen and (max-width:759px){

    body {
        font-size: 12px;
    }
    
    /*Aca va el menu desplegable*/

    .imagen{
        width: 80px;
        height: 130px;
    }

    main{
        margin: 2%;
    }

    .navbar-nav{
        text-align: right;
        font-weight: bold
    }


}

/*Estilos para la pantalla de una tablet*/

@media only screen and (min-width:760px) and (max-width:1023px){

    body {
        font-size: 15px;
    }


    .imagen{
        width: 180px;
        height: 280px;
    }

    main{
        margin-top: 1%;
        margin-left: 10px;
        margin-right: 10px;
    }

    .navbar-nav{
        text-align: right;
        font-weight: bold
    }
    
}

/*Estilos para la pantalla de una Desktop*/

@media only screen and (min-width:1024px){
    body {
        
        font-size: 15px;
    }

    .imagen{
        width: 180px;
        height: 280px;
    }

    main{
        margin-top: 1%;
        margin-left: 50px;
        margin-right: 50px;
    }

    .navbar-collapse{
        justify-content: right;
        a{
            font-weight: bold
        }
        
    }

}

/*----------Imports del index---------*/

@import "footerEstilos";

@import "novedadesIndex";

@import "productosIndex";

/*----------Estilos de la pagina de los productos---------*/

@import "productosPagina";
/*----------Estilos de la pagina de los Novedades---------*/

@import "novedadesPagina";

/*----------Estilos de la pagina de nosotros---------*/

@import "nosotrosPagina";

/*----------Estilos de la pagina de contacto---------*/

@import "contactoPagina";
